<script>
	function flushSummaryCollapse(first){
		function visit(parent){
			var childs = parent.children;
			if(parent.tagName=="LI" || parent.tagName=="li"){
				if(childs.length >= 2 && (childs[1].tagName=="UL" || childs[1].tagName=="ul")){
					var open = window.localStorage.getItem(childs[0].getAttribute("href"));
					if(open == null){open = false;}
					else if(open == "false"){open = false;}
					else if(open == "true"){open = true;}
					if(open){
						childs[0].innerText = childs[0].innerText.replace("📁 ","")
					}else{
						childs[0].innerText = "📁 "+childs[0].innerText.replace("📁 ","")
						$(childs[1]).hide(0);
					}
					if(first){
						parent.addEventListener("click",function(event){
							window.localStorage.setItem(childs[0].getAttribute("href"),(!open)+"");
							if(!open){
								childs[0].innerText = childs[0].innerText.replace("📁 ","");
								$(childs[1]).show(3000);
							}else{
								childs[0].innerText = "📁 "+childs[0].innerText.replace("📁 ","")
								$(childs[1]).hide(2000);
							}
						})
					}
					
				}
			}
			if(childs.length!=0){
				for(let i=0;i<childs.length;i++){
					visit(childs[i]);
				}
			}
		};
		visit(document.getElementById("summaryContent"))
	}
	$(function(){
		flushSummaryCollapse(true);
	});
</script>