<script>
	function flushSummaryCollapse(first){
		function visit(parent){
			var childs = parent.children;
			if(parent.tagName=="LI" || parent.tagName=="li"){
				if(childs.length >= 2 && (childs[1].tagName=="UL" || childs[1].tagName=="ul")){
					parent.id = getDom(childs,"a").getAttribute("href");
					var open = isOpen(parent.id);
					if(open){
						let span = document.createElement("span");
						span.innerText = "➖";
						parent.insertBefore(span,getDom(childs,"a"));
						span.addEventListener("click",function(event){
							var open = isOpen(event.target.parentElement.id);
							var childs = event.target.parentElement.children;
							window.localStorage.setItem(getDom(childs,"a").getAttribute("href"),(!open)+"");
							console.log("open:"+open);
							if(open){
								getDom(childs,"span").innerText = "➖";
								$(getDom(childs,"ul")).hide(500);
							}else{
								getDom(childs,"span").innerText = "➕";
								$(getDom(childs,"ul")).show(500);
							}
						})
					}else{
						let span = document.createElement("span");
						span.innerText = "➕";
						parent.insertBefore(span,getDom(childs,"a"));
						$(getDom(childs,"ul")).hide(0);
						span.addEventListener("click",function(event){
							var open = isOpen(event.target.parentElement.id);
							var childs = event.target.parentElement.children;
							window.localStorage.setItem(getDom(childs,"a").getAttribute("href"),(!open)+"");
							console.log("open:"+open);
							if(open){
								getDom(childs,"span").innerText = "➖";
								$(getDom(childs,"ul")).hide(500);
							}else{
								getDom(childs,"span").innerText = "➕";
								$(getDom(childs,"ul")).show(500);
							}
						});
					}
				}
			}
			if(childs.length!=0){
				for(let i=0;i<childs.length;i++){
					visit(childs[i]);
				}
			}
		};
		function getDom(fromArray,tag){
			for(let i=0;i<fromArray.length;i++){
				if(fromArray[i].tagName.toUpperCase() == tag.toUpperCase()){
					return fromArray[i];
				}
			}
			return null;
		}
		function isOpen(key){
			let tmp = window.localStorage.getItem(key);
			if(tmp == null){tmp = false;}
			else if(tmp == "false"){tmp = false;}
			else if(tmp == "true"){tmp = true;}
			return tmp;
		}
		visit(document.getElementById("summaryContent"))
	}
	$(function(){
		flushSummaryCollapse(true);
	});
</script>