<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>BlocklyNukkit Wiki</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://cdn.jsdelivr.net/gh/jquery/jquery/dist/jquery.min.js"></script>
	<script src="{{ '/assets/js/idTabs.js' | relative_url }}"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!-- 拼音模块 -->
    <script src="{{ '/assets/js/pinyin.js' | relative_url }}"></script>
    <!-- 内核 -->
    <script src="https://imgcache.qq.com/qcloud/cloudbase-js-sdk/1.4.1/cloudbase.js"></script>
    <!-- 登录模块 -->
    <script src="https://imgcache.qq.com/qcloud/cloudbase-js-sdk/1.4.1/cloudbase.auth.js"></script>
    <!-- 登录工具 -->
    <script src="{{ '/assets/js/login.js' | relative_url }}"></script>
	<link rel="stylesheet" href="/assets/css/nav.css" /> 
	<link rel="stylesheet" href="/assets/css/header.css" />
	<link rel="stylesheet" href="/assets/css/codetab.css" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

</head>