<header id="header">
    <div>
        <nav>
			<li class="fork" id="openNavButton"><a href="/SUMMARY">&#9776; 章节导航</a></li>
			<li class="fork">&#8194;</li>
            <li class="fork"><a href="{{ site.github.repository_url }}">在GitHub上查看</a></li>
			<li class="fork">&#8194;</li>
			<li class="fork"><img style="padding-top: 10px;" src="https://img.shields.io/github/v/release/superice666/BlocklyNukkit?color=brightgreen&label=%E6%AD%A3%E5%BC%8F%E7%89%88&logo=github&style=for-the-badge"></li>
			<li class="fork">&#8194;</li>
			<li class="fork gitBadgeAutoHide"><img style="padding-top: 10px;" src="https://img.shields.io/github/v/release/superice666/BlocklyNukkit?color=lightgrey&include_prereleases&label=%E6%B5%8B%E8%AF%95%E7%89%88&logo=github&style=for-the-badge"></li>
        </nav>
    </div>
</header>