<div id="summaryNav" class="nobar summaryNav">
	<div id="summaryContent">
		{%- if page.url != '/SUMMARY.html' -%}
			{%- for tpage in site.pages -%}
				{%- if tpage.url == '/SUMMARY.html' -%}
					{{tpage.content | markdownify | replace_first: "SUMMARY", "目录"}}
				{%- endif -%}
			{%- endfor -%}
		{%- endif -%}
	</div>
	<script>
		$(function(){
			function visit(parent){
				let childs = parent.children;
				if(childs.length==0){
					if(parent.tagName=="ul"){
						parent.style.margin = "0 0 0 0px";
					}
				}else{
					for(let i=0;i<childs.length;i++){
						visit(childs[i]);
					}
				}
			}
			visit(document.getElementById("summaryContent"));
		});
		$(function(){
			var sideNav = $("#summaryNav");
			sideNav.scroll(function(){
				console.log(sideNav.scrollTop());
			});
		})
	</script>
</div>
