<div id="summaryNav" class="nobar summaryNav">
	<div id="summaryContent">
		{%- if page.url != '/SUMMARY.html' -%}
			{%- for tpage in site.pages -%}
				{%- if tpage.url == '/SUMMARY.html' -%}
					{{tpage.content | markdownify | replace_first: "SUMMARY", "目录"}}
				{%- endif -%}
			{%- endfor -%}
		{%- endif -%}
	</div>
	<br>
	<script>
		$(function(){
			if(document.body.clientWidth <= 1320){
				$("#summaryNav").hide(0);
			}
			function visit(parent){
				let childs = parent.children;
				if(parent.tagName=="UL" || parent.tagName=="ul"){
					parent.style.margin = "0 0 0 0px";
				}
				if(childs.length!=0){
					for(let i=0;i<childs.length;i++){
						visit(childs[i]);
					}
				}
			}
			visit(document.getElementById("summaryContent"));
			visit(document.getElementById("page_toc"));
		});
		$(function(){
			var sideNav = $("#summaryNav");
			if(window.localStorage.getItem("sideBarFlow")!=null){
				sideNav.scrollTop(Number(window.localStorage.getItem("sideBarFlow")));
			}
			sideNav.scroll(function(){
				window.localStorage.setItem("sideBarFlow",""+sideNav.scrollTop());
			});
		})
	</script>
</div>
