@charset "utf-8";
/* CSS Document */

.content::-webkit-scrollbar{ display:none; } /*隐藏滚动条*/

.nobar::-webkit-scrollbar{ width: 0 !important }
 
@media screen and (max-width:1320px ) {
	.summaryNav{
		width: 100%;
		top: 44px;
		position: fixed;
		display: none;
		height: 100%;
		overflow-y: scroll;
		overflow-x: hidden;
		scrollbar-width: 0px;
		padding-top: 20px;
		background-color: #252525;
	}
}

@media screen and (max-width:720px ) {
    .menuButton {
		  position: fixed;
		  left: 10px;
		  top: 4px;
		  z-index:101;
		  cursor: pointer;
		  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
		  font-weight: normal;
		  color: #696969;
	}
}

@media screen and (max-width:1320px ) and (min-width:721px ) {
    .menuButton {
    	  position: fixed;
    	  left: 16px;
    	  top: 16px;
    	  z-index:101;
    	  cursor: pointer;
    	  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
    	  font-weight: normal;
    	  color: #696969;
    }
}

@media screen and (min-width:1321px ) {
	.summaryNav{
		position: fixed;
		left: 10px;
		top: 10vh;
		overflow-y:scroll;
		overflow-x:hidden;
		height:80vh;
		scrollbar-width: 0px;
	}
	.menuButton {
		  display: none;
	}
}