@charset "utf-8";
/* CSS Document */

.content::-webkit-scrollbar{ display:none; } /*隐藏滚动条*/

.nobar::-webkit-scrollbar{ width: 0 !important }
 
@media screen and (max-width:1320px ) {
	.summaryNav{} /*小屏由js设置*/
}

@media screen and (min-width:1321px ) {
	.summaryNav{
		position: fixed;
		left: 10px;
		top: 10vh;
		overflow-y:scroll;
		overflow-x:hidden;
		height:80vh;
		scrollbar-width: 0px;
	}
}