<!doctype html>
<html lang="{{ site.lang | default: " en-US" }}">
{%- include head.html -%}
<body>

{%- include header.html -%}

{%- include collapse.html -%}

<div class="wrapper" id="main">
    <section>
        <div id="title">
            <h1>BlocklyNukkit WIKI</h1>
            <p>
				<font color="#00E0FF">3</font><font color="#00CEFF">-</font><font color="#00BCFF">1</font><font color="#00AAFF">3</font><font color="#0098FF"> </font><font color="#0086FF">B</font><font color="#0074FF">N</font><font color="#0062FF">一</font><font color="#0050FF">周</font><font color="#003EFF">年</font><font color="#002CFF">生</font><font color="#001AFF">日</font><font color="#0008FF">快</font><font color="#0000FF">乐</font>
			</p>
        </div>
        <article class="article">
			<p>章节导览</p>
			{% include toc.html html=content id='page_toc' %}
			<br>
            {{ content }}
			{%- include nav.html -%}
        </article>
    </section>
</div>

{% if page.toc %}
<script>
    const content = document.querySelector(".article");

    scrollnav.init(content, {
        debug: false,
        easingStyle: 'linear',
        sections: ($('.article > h1').length>0) ? 'h3' : 'h4',
        //subSections: ($('.post-content > h1').length>0) ? 'h4' : 'h5',
    });
</script>
{% endif %}
</body>
{%- include footer.html -%}
</html>
